/* common */
*{
  box-sizing: border-box;
}

.q-green {
  color: #84bc2d;
}

body, select, input {
  font: 17px/27px 'Work Sans', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font: bold italic 50px 'Sansita One', cursive;
  color: #333;
}

body {
  margin: 0;
  background-color: #84bc2d;
}

#page{
  border 2px solid grey;
  background-color: white;
}

/* page elements and styles */

.navbar{
  padding-top: 5px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #84bc2d;
}
.navbar a{
  color: white;
  border-bottom: 2px solid white;
}

.icon{
  height: 9px;
  margin-right: 5px;
}
.icon-big{
  height: 20px;
  position: relative;
  top:5px;
}

#hero{
  display: flex;
  margin-top: 100px;
}

q42-logo{
  display: block;
}

.manifesto-container,
.logo-container{
  width: 100%;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 42px 20px;
}

.navbar section{
  padding: 0 20px;
}

h1 {
  font-size: 66px;
  margin: 0;
}

h2{
  font-size: 42px;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin: 0;
}

a {
  color: #84bc2d;
  text-decoration: none;
}

.right-aligned{
  float: right;
}

.lhead {
  display: inline-block;
  width: 140px;
}

.factsheet-wrapper{
  width: 100%;
  background-color: #000082;
}

#factsheet{
  color: white;
}

.copypaste {
  font: 16px monospace;
  width: 100%;
  color: #444;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 1em
}

.code {
  background: #EEE;
  color: #333;
  font: bold 14px monospace;
  padding: 0.3em;
}

.arrow {
  padding: 0 0 0 4em;
}

.examples{
  display: flex;
}

#codeplaceholder {
  background: black;
  color: #4F4;
  padding-bottom: 8em;
}

#codeplaceholder h1 {
  color: #4F4;
}

#codeplaceholder a {
  color: white;
}

#colophonplaceholder {
  background: black;
  color: white;
  padding-bottom: 2em;
}

#colophon {
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  section {
    width: 90vw;
  }
}
